language: java
jdk:
  - oraclejdk8

services:
  - docker
install:
  - docker pull mongo

addons:
  apt:
    packages:
    - metacity

sudo: false

env: DISPLAY=:99.0

cache:
  directories:
  - $HOME/.m2

before_script:
  - sh -e /etc/init.d/xvfb start
  - metacity --sm-disable --replace 2> metacity.err &

script:
  - export
  - mvn -f com.valentino.tap.password_manager/pom.xml clean verify -Pjacoco report:coveralls
